aclocal.m4
autom4te.cache/
autoscan.log
build-aux/
config.guess
config.h
config.h.in
config.log
config.status
configure
configure.scan
install-sh
stamp-h1
Makefile
Makefile.in
libvsmsocket/.deps/
libvsmsocket/.dirstamp
*.o
*.a
*.so
